{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib", // 这部分在实际使用中可能不需要，除非有特殊的目录结构
        "style": "css"
      }
    ]
  ]
}
